@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100&display=swap');

html, body, #root {
  height: 100%;
}

* {
  font-family: 'Inter';
}

*:focus {
  outline: none;
}

.container {
  @apply max-w-7xl px-2 sm:px-6 lg:px-8 mx-auto;
}

body {
  @apply bg-gray-50;
}